@import 'grid';
@import '_common';
@import '_dropdown';

* {box-sizing: border-box;}

body {
    font-family: $font1;
    font-style: normal; 
    width: 100%;
    height: 100%;
    top: 0; left: 0; right: 0; bottom: 0;
    padding: 0;
    margin: 0;
    &.visible {display: block;}
}

a {
    text-decoration: none;
}

h1 {
    text-align: center;
}


.content {
    padding: 20px 0;
}

.hcontacts {
  font-size: 14px;  
  position: relative;
  color:#505050;
}
.hcontacts a:visited, a:link {
    color: #505050;
}

.header .header-top {
    margin-top: 10px;
}


.categories {
    float: left;
    width: 17%;
    padding: 0 20px;
    background-color: $white;
    font-size: 14px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

    ul {
        padding-left: 10px;
        li {
            padding-left: 10px;
            padding: 5px;
            a {
                color: $black;
                text-decoration: none;
                @include transitionEffect();
                &:hover {
                    text-decoration: underline;
                    color: #D20808;
                }
            }
        }
    }
    
    .cat-item {
        margin-top: 2px;
    }

    .children .children {
        display: none;
    }

    span {
        margin-left: 10px;
        font-size: 16px;
        line-height: 28px;
        cursor: pointer;
        position: absolute;
        top: 5px;
        right: 20px;
    }

    .cat-item {
        position: relative;
    }

}

.properties {
    float: left;
    width: 80%;
    margin-left: 1%;
    @extend .clearfix;
    .property {
        background-color: $white;
        padding: 10px;
        color: $black;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 10px 0 rgba(0, 0, 0, 0.19);
        width: 48%; 
        float: left;
        font-size: 14px;
        line-height: 16px;
        &:nth-child(2n) {
            margin-left: 2%;
            margin-right: 2%;
        }
        a {
            font-weight: bold;
            color: $black;
            @include transitionEffect();
            &:hover {
                color: #D20808;
            }
        }

        img {
            width: 100%;
            max-width: 100%;
            height: auto;
        }

        .name {
            font-size: 30px;
            line-height: 34px;
            font-weight: bold;
        }
        .description {
            font-size: 14px;
            line-height: 20px;
            margin-top: 10px;
            div {
                margin-top: 1px;
            }
        }

        .first-child
         {
            margin-top: 20px;   
        }

        &:not(:first-child) {
            margin-top: 0px;
            margin-bottom: 5px;
        }

    }
}

.property-single {

    .photos {
        margin-top: 20px;
        .slideshow-slider {
            img {max-width: 100%;}
        
            .slick-arrow {
                position: absolute;
                top: 45%;
                z-index: 1;
                vertical-align: middle;

                color: transparent;

                width: 50px;
                height: 50px;

                border: 0;
                background: transparent;

                &.slick-next {
                    right: 0;
                    background-image: url(./images/arrow-right.png);
                }
                &.slick-prev {
                    left: 0;
                    background-image: url(./images/arrow-left.png);
                }
            }
        }

        .slideshow-nav {
            margin-top: 1px;
            .slide {
                height: 125px;
                padding: 1px;
            }
            img {max-width: 100%;}
        }
    }

    .subheading {
        margin-top: 5px;
    }
    .price {
        margin-top: 10px;
        font-size: 20px;
        line-height: 30px;
    }

    .phone {
        font-size: 20px;
        line-height: 30px;
        font-weight: 600;
        color: $red;
        text-decoration: underline;
    }


    .btn {
        width: 100%;
    }

    .p20 {
        padding-top: 0px; 
        padding-left: 20px;
    }
}